.item {
    background-color: rgb(241, 74, 74);
    width: 500px;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  .item2 {
    background-color: orange;
    width: 500px;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  .item3 {
    background-color: rgb(74, 243, 97);
    width: 500px;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 10px;
  }